#startup_commands    toggle_visual_scroll;toggle_dark_mode
super_fast_search 1
case_sensitive_search 0

# prerendered_page_count 100 # jumping to a random page makes loading even longer

# text to speech 
# # start reading from highlighted line
# execute_command_a python /home/anx/d/playground/tts-project-piper-only/server_read.py "%1" %4 "%6"
# # execute_command_a python /home/anx/temp.py "%1" %4 "%6"
# # stop reading
# execute_command_b python /home/anx/d/playground/tts-project-piper-only/server_stop.py
# # keep highlighting the current line being read
# execute_command_c python /home/anx/d/playground/tts-project-piper-only/server_follow.py
# # stop highlighting the current line being read
# execute_command_d python /home/anx/d/playground/tts-project-piper-only/server_unfollow.py
# # start the tts server (should be running before executing previous commands)
# execute_command_e python /home/anx/d/playground/tts-project-piper-only/manager_server.py
